{% set categories = craft.categories.group("todoCategories").all() %}

<div class="p-12">
  <h2 class="text-2xl font-semibold mb-4">To-Do List Categories</h2>
  <ul class="list-disc list-inside">
    {% for category in categories %}
      <li>{{ category.title }}</li>
    {% endfor %}
  </ul>
</div>
